<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXOrderStatusView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94995F1A1F060EB600CD8109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94995F331F060EB700CD8109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94995F3E1F060EB700CD8109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
